doctype html
html
    head
        title="My app"
    body
    include ./header.pug
        h4 Welcome!
        p Log in to your user panel
        form(method='GET' action='/auth/google')             
            button.btn(type='submit') Sign up
        p test
    include ./footer.pug