doctype html
html
    head
        title="My app- user panel"
    body
    include ./header
        h3 witaj! #{userName}.
        br        
        img(src="snowflakes.jpg", alt="snowflakes")
    include ./footer