doctype html
html
    head
        title="My app- user panel"
    body
    include ./header
        h3 witaj! #{email}.
        br
        h4 masz fajne hasło: #{pass}
        br
        img(src="snowflakes.jpg", alt="snowflakes")
    include ./footer